@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700|Nunito);
* {
	font-family: Raleway
}

p {
	line-height: 100%;
	margin-top: -.5em;
}

header {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
	background-color: transparent;
	z-index: 100;
}

footer {
	width: 100%;
	height: 1.5em;
	position: fixed;
	bottom: 0;
	left: 0;
	/*	background-color: hsla(0, 100%, 100%, 0.5);*/
	font-family: 'Raleway';
	font-weight: 700
}

footer ul {
	width: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	background-color: hsla(0, 100%, 100%, 0.5);
}

footer ul li {
	list-style: none;
	display: inline-block;
	padding: 0.2em;
	width: auto;
	text-align: center;
}

footer ul li a {
	text-decoration: none;
	padding: 0.1em;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: black;
}

#container {
	background: url('../images/oat_tower.png') no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	height: 100%;
	background-size: calc(100% + 50px);
}

.top_logos {
	position: fixed;
	top: 0.1em;
	margin: 0;
	padding: 0;
}

#ieeeedtu {
	left: 2%;
}

#troikaSmall {
	left: calc(50% - 40px);
}

#dtu {
	right: 2%;
}

#bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}

#category_home {
	background-color: #00094a;
	height: 40%;
	width: 15%;
	position: fixed;
	top: 32%;
	left: 0%;
	border-radius: 12%;
	float: left;
}

#homeimage {
	height: 50%;
	width: 15%;
	position: fixed;
	top: 29%;
	left: 0%;
}

#category_home:hover {
	background-color: #00031f;
}

#category_softline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 37.5%;
}

#category_hardline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 43.5%;
}

#category_designline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 49.5%;
}

#category_paperline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 55.5%;
}

#category_quizline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 61.5%;
}

#category_spacline {
	background-color: #202020;
	height: .3%;
	width: 100%;
	position: fixed;
	top: 67.5%;
}

#category_softcat {
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 36.4%;
	/*	left: 16%;*/
	padding: 2px 6px;
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_softcat:hover {
	background-color: #00094a;
}

#category_hardcat {
	padding: 2px 6px;
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 42.5%;
	/*	left: 16%;*/
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_hardcat:hover {
	background-color: #00094a;
}

#category_designcat {
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 48.5%;
	/*	left: 16%;*/
	padding: 2px 6px;
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_designcat:hover {
	background-color: #00094A;
}

#category_papercat {
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 54.5%;
	/*	left: 16%;*/
	padding: 2px 6px;
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_papercat:hover {
	background-color: #00094a;
}

#category_quizcat {
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 60.5%;
	/*	left: 16%;*/
	padding: 2px 6px;
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_quizcat:hover {
	background-color: #00094a;
}

#category_spaccat {
	background-color: #00031f;
	height: 2em;
	/*	width: 11%;*/
	position: fixed;
	top: 66.5%;
	/*	left: 16%;*/
	padding: 2px 6px;
	border-radius: 10%;
	color: white;
	font-size:100%;
	text-align: center;
	line-height: 220%;
}

#category_spaccat:hover {
	background-color: #00094a;
}

#node1 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 36.9%;
	left: 39.3%;
	border-radius: 100%;
}

#node2 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 42.9%;
	left: 33.5%;
	border-radius: 100%;
}

#node3 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 48.9%;
	left: 43.8%;
	border-radius: 100%;
}

#node4 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 54.9%;
	left: 74.4%;
	border-radius: 100%;
}

#node5 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 60.9%;
	left: 29.8%;
	border-radius: 100%;
}

#node6 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 36.9%;
	left: 52.5%;
	border-radius: 100%;
}

#node7 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 36.9%;
	left: 65.8%;
	border-radius: 100%;
}

#node8 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 36.9%;
	left: 80%;
	border-radius: 100%;
}

#node9 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 42.9%;
	left: 59.2%;
	border-radius: 100%;
}

#node10 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 42.9%;
	left: 78.9%;
	border-radius: 100%;
}

#node11 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 60.9%;
	left: 81.5%;
	border-radius: 100%;
}

#node12 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 60.9%;
	left: 56.4%;
	border-radius: 100%;
}

#node13 {
	background-color: #042f74;
	height: 1.7%;
	width: .7%;
	position: fixed;
	top: 66.9%;
	left: 70%;
	border-radius: 100%;
}

#category_node12bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 59.7%;
	left: 55.7%;
	opacity: 0;
}

#category_node12bdr:hover {
	top: 58.6%;
	left: 55.2%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node1bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 35.5%;
	left: 38.7%;
	opacity: 0;
}

#category_node1bdr:hover {
	top: 34.7%;
	left: 38.2%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node2bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 41.5%;
	left: 32.8%;
	opacity: 0;
}

#category_node2bdr:hover {
	top: 40.5%;
	left: 32.4%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node3bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 47.5%;
	left: 43.1%;
	opacity: 0;
}

#category_node3bdr:hover {
	top: 46.4%;
	left: 42.6%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node4bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 53.5%;
	left: 73.8%;
	opacity: 0;
}

#category_node4bdr:hover {
	top: 52.5%;
	left: 73.3%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node5bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 59.7%;
	left: 29.1%;
	opacity: 0;
}

#category_node5bdr:hover {
	top: 58.6%;
	left: 28.7%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node6bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 35.5%;
	left: 51.9%;
	opacity: 0;
}

#category_node6bdr:hover {
	top: 34.7%;
	left: 51.5%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node7bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 35.5%;
	left: 65.2%;
	opacity: 0;
}

#category_node7bdr:hover {
	top: 34.7%;
	left: 64.7%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node8bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 35.5%;
	left: 79.3%;
	opacity: 0;
}

#category_node8bdr:hover {
	top: 34.7%;
	left: 79%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node9bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 41.5%;
	left: 58.5%;
	opacity: 0;
}

#category_node9bdr:hover {
	top: 40.5%;
	left: 58%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node10bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 41.5%;
	left: 78.2%;
	opacity: 0;
}

#category_node10bdr:hover {
	top: 40.5%;
	left: 77.7%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node11bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 59.7%;
	left: 80.8%;
	opacity: 0;
}

#category_node11bdr:hover {
	top: 58.6%;
	left: 80.3%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}

#category_node13bdr {
	height: 4%;
	width: 4%;
	position: fixed;
	top: 65.5%;
	left: 69.3%;
	opacity: 0;
}

#category_node13bdr:hover {
	top: 64.4%;
	left: 68.8%;
	height: 6%;
	width: 3%;
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
	opacity: 1;
	transition: 1s all;
}


/*
#last {
	background-color:blue;
	height:180%;
	width:50%;
	position:fixed;
	left:1100%;
	top:10%;
	border-radius:10%;
	float:right;
}*/

#nline1 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 63%;
	left: 39.7%;
	background-color: white;
	opacity: 1;
	transition: .5s all;
}

#nline2 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 63%;
	left: 52.8%;
	background-color: white;
	opacity: 1;
	transition: .5s all;
}

#nline3 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 63%;
	left: 66%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline4 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 63%;
	left: 80.3%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline5 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 57%;
	left: 33.8%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline6 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 57%;
	left: 59.5%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline7 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 57%;
	left: 79.2%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline8 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 51%;
	left: 44.1%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline9 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 45%;
	left: 74.8%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline10 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 39%;
	left: 30.1%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline11 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 39%;
	left: 56.5%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline12 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 39%;
	left: 81.7%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nline13 {
	height: 0%;
	width: .1%;
	position: fixed;
	bottom: 33%;
	left: 70.3%;
	background-color: black;
	opacity: 1;
	transition: .5s all;
}

#nname1 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 13%;
	left: 35%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname2 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 6%;
	left: 48.1%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname3 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 6%;
	left: 61.3%;
	background-color: white;
	opacity: 0;
	font-size: 130%;
	transition: .8s all;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname4 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 6%;
	left: 55.6%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname5 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 14%;
	left: 25.4%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname6 {
	height: 35px;
	width: 0%;
	position: fixed;
	top: 12%;
	left: 29.1%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 5%;
}

#nname7 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 12%;
	left: 54.8%;
	background-color: grey;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname8 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 12%;
	left: 54.5%;
	background-color: grey;
	opacity: 0;
	transition: .8s all;
	font-size: 125%;
	text-align: center;
	padding-left: 5%;
	line-height: 25%;
}

#nname9 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 18%;
	left: 39.4%;
	background-color: grey;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 5%;
}

#nname10 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 8%;
	left: 50.1%;
	background-color: grey;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 5%;
}

#nname11 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 14%;
	left: 57%;
	background-color: grey;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 4%;
}

#nname12 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 14%;
	left: 51.8%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 5%;
}

#nname13 {
	height: 0%;
	width: 0%;
	position: fixed;
	top: 20%;
	left: 65.6%;
	background-color: white;
	opacity: 0;
	transition: .8s all;
	font-size: 130%;
	text-align: center;
	line-height: 25%;
	padding-left: 5%;
}

#techsoftl {
	height: 20%;
	width: 5px;
	position: fixed;
	top: 12px;
	left: 25px;
	background-color: #202020;
	border-radius: 3px;
}

#techhardl {
	height: 20%;
	width: 5px;
	position: fixed;
	top: 47px;
	left: 25px;
	background-color: #202020;
	border-radius: 3px;
}

#designl {
	height: 20%;
	width: 5px;
	position: fixed;
	top: 82px;
	left: 25px;
	background-color: #202020;
	border-radius: 3px;
}

#paperl {
	height: 20%;
	width: 5px;
	position: fixed;
	top: 117px;
	left: 25px;
	background-color: #202020;
	border-radius: 3px;
}

#quizl {
	height: 20%;
	width: 5px;
	position: fixed;
	top: 152px;
	left: 25px;
	background-color: #202020;
	border-radius: 3px;
}


/*@media screen and (max-width:768px){
	h2 {
		font-size: 100%;
		line-height: 50%;
	}
	p {
		font-size: 75%
	}
}*/

.nodes {
	cursor: pointer;
	width: 1em !important;
	height: 1em !important;
}

.lines,
.titles {
	z-index: 9999
}
@media screen and (max-width:768px){
	#container {
		background-size: 100% 100% !important;
		width: 100%;
		height: 100%;
	}
}
