
header {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
	background-color: white;
	z-index: 100;
}

.top_logos {
	position: fixed;
	top: 0.1em;
	margin: 0;
	padding: 0;
}

#ieeeedtu {
	left: 2%;
}



#dtu {
	right: 2%;
}

#troika{
	position: absolute;
	left: 50%;

}

#button{
    position: fixed;
    right: 0;
    font-size: 2em;
    top: 60%;
    transform: rotate(90deg);
    display: inline;
    transform-origin: 90% 50%;
    margin-right: 4px;
}

#teaser{
    display: inline;
    border-top: 2px solid blue;
    margin-right: 20px;
}

#register{
    display: inline;
    border-top: 2px solid red;
}

#content{
  background:url('../images/oat_tower.png') -25px -50px;
  position:fixed ;
  top:0;
  width:100%;
  z-index:0;
  height:100%;
  background-size: calc(100% + 50px);
}

footer {
	width: 100%;
	height: 4em;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
}

footer ul {
	width: auto;
    display: block;
    text-align: center;
	margin: 0 auto;
	padding: 0.6em 0;
}
footer ul li {
	list-style: none;
	display: inline-block;
	padding: 0.5em;
	width: auto;
	text-align: center;
}

a {
	text-decoration: none;
	padding: 0.1em;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: black;
	font-family: arial, verdana, sans-serif;
}

footer ul li a:hover {
	color: #ccc;
}